.diagramas {
    width: 300px;
}
#diagrama1 {
    width: 200px;
    border: 1px solid #000;
    
}
img {
    position: relative;
}


.programa {
    border: 1px solid #000;
}
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 1fr;
    gap: 10px;
}
#programa5 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}




#programa6 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}


article #zonarectangulo {
    grid-column: 2/3;
    border: 4px solid #000;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    margin-top: 150px;
    margin-right: 0;
    
    
    
}
#znr {
    border: 2px solid #000;
    height: 0px;
    width: 0px;
    max-width: 100%;
    max-height: 100%;
    display: none;
    
}
#indice ul {
    padding: 50px;
    list-style: none;
}

#indice li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px; /* Espacio entre cada par de enlace-descripción */
}

#indice a {
    text-decoration: none;
    color: #f00;
    font-size: 30px;
}

#indice p {
    margin-top: 10px; /* Espacio entre el enlace y la descripción */
}
.title {
    text-align: center;
    font-size: 3em;
    margin: 20px 0;

}
.codigos {
    width: 300px;
}
.zonaImagenes {
    position: relative;
    width: 800px;
    height: 380px;
}


